.lineBackground{
    background-image: url('img/blueLines.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
}

.waterColorBackground{
    background-image: url('img/watercolor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-purple{
    background-color: #8b7cf7;
}

.custom-blue{
    background-color: #4285F4;
}

.custom-green{
    background-color: #0F9D58;
}

.custom-yellow{
    background-color: #F4B400;
}

.custom-orange{
    background-color: #ff8c00;
}

.custom-red{
    background-color: #DB4437;
}

thead {
    background-color: #343A40;
    color: white;
} 

th {
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: normal;
    text-align: center;
}

table {
    border-spacing: 1em;
}

tr td:last-child{
    text-align: right;
}

.logo{
    color: #A6DCD0;
}


.landing{
    background-color: #343A40;
    height: 100vh;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.logoImage{
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.custom-btn{
    background-color: #A6DCD0;
}

.landingBtn{
    display: block;
    width: 70%;
}

.modal-body{
    background-color: #343A40;
    color: white;
}

.modal-footer{
    background-color: #343A40;
}

#signUpModal{
    width: 85%;
}

.clearBorder{
    border: none;
}

#addBudget{
    width: auto;
}

.transparent{
    background-color: transparent;
}
